.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.checkbox-slider--b label span:before{
    background-color: #89918b;
}

.settings-group{
    color: #89918b;
    font-size: 0.8em;
    margin-top: 20px;
    padding-top: 3px;
    margin-bottom: 15px;
    border-bottom: #89918b dashed thin;
}